.wrapper {
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    min-height: 100px;
    max-height: 600px;
    box-shadow: rgb(0 0 0 / 12%) 0 2px 12px;
    padding-top: 8px;
    overflow-y: auto;

    // button {
    //     font-family: 'SofiaPro';
    //     font-size: 15px;
    //     font-weight: 500;
    // }
}
