.search {
    width: 360px;
    height: var(--search-height);
    display: flex;
    justify-content: center;
    background-color: rgb(0 0 0 / 6%);
    border-radius: 92px;
    align-items: center;
    position: relative;
    border: 1px solid transparent;

    input {
        height: 100%;
        width: 100%;
        background-color: transparent;
        padding-left: 16px;
        font-size: 1.55rem;
        caret-color: rgb(254 44 85);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: #4c4e57;
    }

    &:focus-within {
        border: 1px solid #ccc;
    }
}

.accounts {
    padding: 5px 12px;
}

.clear {
    cursor: pointer;
}

.clear,
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    position: absolute;
    right: 72px;
}

.search-btn {
    height: 100%;
    padding: 11px 20px 11px 16px;
    font-size: 1.9rem;
    color: #a7a7ab;
    cursor: pointer;
    position: relative;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    margin-left: 12px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 1.5px;
        height: 28px;
        background-color: rgb(22 24 35 / 12%);
        top: 50%;
        transform: translateY(-50%);
    }

    &:hover {
        background-color: rgb(22 24 35 / 3%);
    }

    &:active {
        background-color: rgb(22 24 35 / 6%);
    }
}

.search-result {
    width: 360px;
}
