.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #fff;
}

.innner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 0 20px;
}

.logo {
    display: flex;
    align-self: center;
}

// Actions

.icon {
    margin-right: 8px;
}

.icon-btn {
    margin: 0 16px;
    background-color: transparent;
    font-size: 2.4rem;
    cursor: pointer;
}

.btn-section {
    display: flex;
    align-items: center;
}

.icon-login {
    background-color: transparent;
    font-size: 2.2rem;
    margin-left: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 24px;
    cursor: pointer;
    overflow: hidden;
}
