.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.innner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 0 20px;
}

.logo {
    display: flex;
    align-self: center;
}

.search {
    width: 360px;
    height: var(--search-height);
    display: flex;
    justify-content: center;
    background-color: rgb(0 0 0 / 6%);
    border-radius: 92px;
    align-items: center;
    position: relative;
    border: 1px solid transparent;

    input {
        height: 100%;
        width: 100%;
        background-color: transparent;
        padding-left: 16px;
        font-size: 1.55rem;
        caret-color: rgb(254 44 85);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: #4c4e57;
    }

    &:focus-within {
        border: 1px solid #ccc;
    }
}

.clear,
.loading {
    position: absolute;
    right: 68px;
    top: 50%;
    font-size: 1.8rem;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    font-size: 20px;
}

.search-btn {
    height: 100%;
    padding: 11px 20px 11px 16px;
    font-size: 1.9rem;
    color: #a7a7ab;
    cursor: pointer;
    position: relative;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 1.5px;
        height: 28px;
        background-color: rgb(22 24 35 / 12%);
        top: 50%;
        transform: translateY(-50%);
    }

    &:hover {
        background-color: rgb(22 24 35 / 3%);
    }

    &:active {
        background-color: rgb(22 24 35 / 6%);
    }
}

.search-result {
    width: 360px;
}

.accounts {
    padding: 5px 12px;
}

.icon {
    margin-right: 8px;
}

.icon-btn {
    margin: 0 16px;
    background-color: transparent;
    font-size: 2.4rem;
    cursor: pointer;
}

.btn-section {
    display: flex;
    align-items: center;
}

.icon-login {
    background-color: transparent;
    font-size: 2.2rem;
    margin-left: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 24px;
    cursor: pointer;
    overflow: hidden;
}
